@*@using ProjeOrganikBesinlerPazari.YeniData.TblUrun*@
@*@model IEnumerable<ProjeOrganikBesinlerPazari.Controllers.HomeController>*@
@model  IEnumerable<YeniData.TblUrun>



@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    //int SelectedCategoryId = 1;

    var   SelectedUrlCategoryId = Url.RequestContext.RouteData.Values["id"];





}



<!DOCTYPE html>
<html lang="zxx">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Organic Food Agriculture Category Bootstrap Responsive Web APP </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Organic Food Responsive web site, Organic Food Market, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />



    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/web/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/web/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/web/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics 



    <script async src='https://www.googletagmanager.com/gtag/js?id=G-98H8KRKT85'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-98H8KRKT85');
    </script>

    <meta name="robots" content="noindex">
    @*<body>*@
    <link rel="stylesheet" href="../../../../../../assests/css/font-awesome.min.css">
    <!-- New toolbar-->
    <style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top:70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 20px;
  text-align: center;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
  opacity: 1;
}

#w3lDemoBar.w3l-demo-bar .w3l-icon svg {
  color: #e6ebff;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}
#w3lDemoBar.w3l-demo-bar .no-margin-bottom{
  margin-bottom:0;
}
.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: .5;
}
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
/* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

#right-sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}


/* ============================================================
RIGHT SIDEBAR TOGGLE SECTION
============================================================ */

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}



@*@media (max-width: 992px) {
  #w3lDemoBar.w3l-demo-bar a.desktop-mode{
      display: none;

  }
}
@media (max-width: 767px) {
  #w3lDemoBar.w3l-demo-bar a.tablet-mode{
      display: none;

  }
}
@media (max-width: 568px) {
  #w3lDemoBar.w3l-demo-bar a.mobile-mode{
      display: none;
  }*@
  #w3lDemoBar.w3l-demo-bar .responsive-icons {
      margin-top: 0px;
      border-top: none;
      padding-top: 0px;
  }
  #right-sidebar,.pull-right {
      width: 90px;
  }
  #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile{
      margin-bottom: 0;
  }
}
    </style>


    
   

    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
        </header>

    </div>
    <!-- //main -->
    <!---728x90--->
    <!-- about -->
    <div class="about py-5" style="margin-top:5%">
        <div class="container py-xl-5 py-lg-3">
            <div class="welcome-left text-center py-md-5 py-sm-3">
                <h3>Organik Besin Pazarı Sitemize Hoşgeldiniz</h3>

            </div>
        </div>

        <div style="margin-left: 25px; ">

            @*<div>
                    <input id="txtUrunAdi" type="text"  /><br />
                    <button   id="BtnGoster" class="btn btn-success w-50" type="button" onclick="UrunGoster();">Urun Gir</button>
                </div>*@

            <div>
                <br />
                <p>Ürün Id Giriniz</p>

                <input type="text" id="UrunId" class="btn button-style button-style-2 mt-sm-5 mt-4" />
                <input type="submit" id="BtnUrunListele" onclick='UrunListele()' class="btn button-style button-style-2 mt-sm-5 mt-4" value="Ara" />

                <br />
                <p>Ürün Adı : <strong id="TxtUrunAdi"></strong> </p>
                <p>Ürün Fiyatı : <strong id="TxtUrunFiyati"></strong> TL</p>


            </div>
            <br />


            @*<div id="TumUrunler">
                <strong> <input type="submit" id="BtnTumUrunListele" onclick='TumUrunListele()' class="btn button-style button-style-2 mt-sm-5 mt-4" value="Tüm ürünleri Listele" /></strong>

            </div>*@

            @*<button id="BtnGoster" onclick="UrunGoster()" class="btn-success"> </button>*@

            <br />

            @*<div>

                    Ürün Seçin:
                    <select name="Urun" id="CbxUrun">
                        <option id="" value=""> Seçiniz</option>
                        <option id="CbxUrunId" value="LblUrunAdi"></option>

                    </select>
                    <input type="submit" value="Ürün Seç" id="BtnUrunSec" />

                </div>*@

        </div>
    </div>
    <!-- //about -->
    <!---728x90--->
    <!-- best food  -->

    <h1 style="margin-top: 5%; width:50%;float:left;display:block;">Ürün Kategorileri</h1><hr />
    <div class="container">

        <div>
            <div class="col-md-12">


                
                <div class="col-md-10">
                    @Html.Action("GetCategories", "Home");
                </div>
            </div>
        </div>
    </div><br />
    <br />


    <hr />
    <h2 style="padding-left:15%;">Ürün Listesi</h2>
    <hr />

    <div class="container">
        <h4> </h4>
        <h4> </h4>
        <h4> </h4>
        <div>
            @foreach (var Urun in Model)
            {
                if (SelectedUrlCategoryId != null)
                {
                    if (Urun.KategoriId == int.Parse(SelectedUrlCategoryId.ToString()))
                    {

                        @*<div class="d-flex team-w3ls-row pt-xl-5 pt-md-3">*@
                        <div class="col-lg-4 col-sm-6">

                            <div class="box20">
                                <img src="~/Upload/@Urun.img" alt="" class="img-fluid" />
                                <div class="box-content">

                                    <a href="/Home/Details/@Urun.UrunId.ToString()">
                                        <h3 class="title">@Urun.UrunAdi</h3>
                                    </a>
                                    <span class="post">Organik Besinler</span>
                                    @*<input style="margin-left: 42%; border-radius:6px;" class="btn button-style button-style-2 mt-sm-5 mt-4" type="button" name="name" id="BtnErikBilgileri" value="Ürün Bilgileri" onclick="ErikBilgileriGetir();" />*@
                                    <br /> <label id="LblErikId"> UrunId: @Urun.UrunId  </label><br />

                                    <label id="LblDonenUrunAdi"> Ürün Adı: @Urun.UrunAdi </label> <br />

                                    <label id="LblDonenUrunFiyati"> Ürün Fiyatı: @Urun.UrunFiyati  </label><br />
                                    <label id="LblDonenUrunStok"> Stok: @Urun.StokAdedi  </label><br />
                                    <a href="~/Home/Details/@Urun.UrunId.ToString()" class="btn btn-primary btn-sm float-lg-left">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>

                                        Ürünü İncele
                                    </a>

                                </div>
                            </div>

                        </div>
                        @*</div>*@




                        @*<div>
                                <p>Ürün Id Giriniz</p>


                                <br />
                                <p>Ürün Adı : <strong id="TxtUrunAdi"></strong> </p>
                                <p>Ürün Fiyatı : <strong id="TxtUrunFiyatii"></strong>@Urun.UrunAdi </p>


                            </div>*@
                    }
                }
                else
                {
                    @*<div class="d-flex team-w3ls-row pt-xl-5 pt-md-3">*@
                    <div class="col-lg-4 col-sm-6">

                        <div class="box20">
                            <a href="/Home/Details/@Urun.UrunId.ToString()">
                                <img src="~/Upload/@Urun.img" alt="" class="img-fluid" />
                            </a>
                            <div class="box-content">


                                <h3 class="title">@Urun.UrunAdi</h3>

                                <span class="post">Organik Besinler</span>
                                @*<input style="margin-left: 42%; border-radius:6px;" class="btn button-style button-style-2 mt-sm-5 mt-4" type="button" name="name" id="BtnErikBilgileri" value="Ürün Bilgileri" onclick="ErikBilgileriGetir();" />*@
                                <br /> <label id="LblErikId"> UrunId: @Urun.UrunId  </label><br />

                                <label id="LblDonenUrunAdi"> Ürün Adı: @Urun.UrunAdi </label> <br />

                                <label id="LblDonenUrunFiyati"> Ürün Fiyatı: @Urun.UrunFiyati  </label><br />
                                <label id="LblDonenUrunStok"> Stok: @Urun.StokAdedi  </label><br />
                                <a href="~/Home/Details/@Urun.UrunId.ToString()" class="btn btn-primary btn-sm float-lg-left">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>

                                    Ürünü İncele
                                </a>

                            </div>
                        </div>

                    </div>
                    @*</div>*@




                    @*<div>
                            <p>Ürün Id Giriniz</p>


                            <br />
                            <p>Ürün Adı : <strong id="TxtUrunAdi"></strong> </p>
                            <p>Ürün Fiyatı : <strong id="TxtUrunFiyatii"></strong>@Urun.UrunAdi </p>


                        </div>*@
                }

            }

        </div>
    </div>


    <hr />





    <!-- //middle -->
    <!-- testimonials -->
    <div class="testimonials py-5" id="testi">
        <div class="container py-xl-5 py-lg-3">
            <h3 style="display:none" class="title-w3 mb-5 text-wh font-weight-bold">
                Müşterilerimizin Görüşleri
                <span>Mükemmel Geri Dönüşler</span>
            </h3>
            <div class="carousel-inner">
                <div class="row">
                    <div class="col-lg-6 w3_testimonials_grid">
                        <div class="bg-wh p-sm-5 p-4">
                            <p class="sub-test-w3ls">
                                Organik ürünlerden çok memnun kaldık.Sağlıklı ürün hızlı teslimat
                            </p>
                            <div class="row mt-5">
                                <div class="col-3 testi-img-res">
                                    <img src="~/web/images/te1.jpg" alt=" " class="img-fluid" />
                                </div>
                                <div class="col-9 w3_testi_grid mt-xl-3 mt-lg-2 mt-md-4 mt-2">
                                    <h5 class="mb-2">Ayşe Yıldız</h5>
                                    <p>Müşteri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 w3_testimonials_grid mt-lg-0 mt-4">
                        <div class="bg-wh p-sm-5 p-4">
                            <p class="sub-test-w3ls">
                                Sağlıklı ucuz kaliteli ürün, anında kargolama hızlı teslimat
                            </p>
                            <div class="row mt-5">
                                <div class="col-3 testi-img-res">
                                    <img src="~/web/images/te2.jpg" alt=" " class="img-fluid" />
                                </div>
                                <div class="col-9 w3_testi_grid  mt-xl-3 mt-lg-2 mt-md-4 mt-2">
                                    <h5 class="mb-2">İlayda Gezer</h5>
                                    <p>Müşteri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- //testimonials -->
    <!-- slides images -->
    <div class="slide-imaes">

    </div>

    </footer>@*-->*@
    <!-- //footer -->
    <script src="~/assets/js/sweetalert2.min.js"></script>
    <script src="~/Scripts/Js/Js/Ajax.js"></script>
    <script src="~/Scripts/Js/Js/MyJs.js"></script>
    <script src="~/Scripts/Proje/MainJs.js"></script>

    <script src="~/Scripts/Js/Js/JavaScript.js"></script>
    @*<script>GetUserDetails();</script>*@

</body>


<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/31-12-2018/organic_food-demo_Free/1671851217/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Mar 2023 15:33:28 GMT -->
</html>
